@using Tracker.Domain
@model IEnumerable<Tracker.Domain.AccountType>

<details open>
    <summary>Budget Accounts: @Model.Where(x => x.BudgetKind == BudgetKind.Budget).Sum(x => x.CurrentBalance).ToString("C")</summary>
    <ul>
        @foreach (var account in Model.Where(x => x.BudgetKind == BudgetKind.Budget))
        {
            <li>
                <a hx-get="@Url.Action("Index", "Account", new { id = account.Id })" hx-target="#main">
                    @account.Name: @account.CurrentBalance.ToString("C")
                </a>
            </li>
        }
    </ul>
</details>
<details open>
    <summary>Off-Budget Accounts: @Model.Where(x => x.BudgetKind == BudgetKind.OffBudget).Sum(x => x.CurrentBalance).ToString("C")</summary>
    <ul>
        @foreach (var account in Model.Where(x => x.BudgetKind == BudgetKind.OffBudget))
        {
            <li>
                <a hx-get="@Url.Action("Index", "Account", new { id = account.Id })" hx-target="#main">
                    @account.Name: @account.CurrentBalance.ToString("C")
                </a>
            </li>
        }
    </ul>
</details>