@model Tracker.Domain.FinancialTransaction
<tr>
    <td>@Model.PostedOn.ToString("yyyy-MM-dd")</td>
    <td>@Model.Description</td>
    <td>@Model.Amount.ToString("C")</td>
    <td><!-- Balance --></td>
    <td>
        <button class="btn danger"
                hx-get="@Url.Action("Edit", new { id = Model.Id})"
                hx-trigger="edit"
                hx-swap="outerHTML swap:1s"
                onClick="let editing = document.querySelector('.editing')
                         if(editing) {
                           Swal.fire({title: 'Already Editing',
                                      showCancelButton: true,
                                      confirmButtonText: 'Yep, Edit This Row!',
                                      text:'Hey!  You are already editing a row!  Do you want to cancel that edit and continue?'})
                           .then((result) => {
                                if(result.isConfirmed) {
                                   htmx.trigger(editing, 'cancel')
                                   htmx.trigger(this, 'edit')
                                }
                            })
                         } else {
                            htmx.trigger(this, 'edit')
                         }">
            Edit
        </button>
    </td>
    <td>
        <button
            class="btn danger"
            hx-delete="@Url.Action(null, new { id = Model.Id })"
            hx-confirm="Remove transaction?"
            hx-swap="outerHTML swap:1s">
            Remove
        </button>
    </td>
</tr>