@model IEnumerable<FinancialTransactionView>

@{
    ViewData["Title"] = "Financial Transactions";
}

<partial name="_AddLink"/>
<partial name="_ImportLink"/>
<table>
    <caption>Financial Transactions</caption>
    <thead>
    <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Balance</th>
        <th>Category</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var t in Model)
    {
        <tr>
            <td>@t.FinancialTransaction.PostedOn.ToString("yyyy-MM-dd")</td>
            <td>@t.FinancialTransaction.Description</td>
            <td>@t.FinancialTransaction.Amount.ToString("C")</td>
            <td>@t.Balance.ToString("C")</td>
            <td></td>
            <td><a href="@Url.Action("Remove")" hx-post="@Url.Action("Remove", t.FinancialTransaction.Id)">Remove</a></td>
        </tr>
    }
    </tbody>
</table>
