@model Tracker.Views.Budget.BudgetSummary

<div class="grid">
    <div></div>
    <div>&ac;########### Month Picker ###########&ac;</div>
    
    <div></div>
    <div>
        <partial name="MonthSummary" model="@Model.Month"/>
    </div>
    
    <div style="grid-column: 1 / 3">
        <table>
            <thead>
                <tr>
                    <th scope="col">
                        <div class="f-row">
                            <button hx-target="next tbody" hx-swap="afterbegin" hx-get="@Url.Action("Add", "Category")">Categories ➕</button>
                            <button>↥</button>
                            <button>↧</button>
                        </div>
                    </th>
                    <th scope="col">Budgeted <span>@Model.Month.Budgeted</span></th>
                    <th scope="col">Outflows <span>@Model.Month.Outflows</span></th>
                    <th scope="col">Balance <span>@Model.Month.Balance</span></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var row in Model.Rows)
            {
                <tr>
                    <th scope="row">
                        <span
                            hx-get="@Url.Action("InlineEditName", "Category", new { Id = row.Envelope.CategoryId })"
                            hx-trigger="click"
                            hx-swap="outerHTML">
                            @row.Name
                        </span>
                    </th>
                    @if (row.ParentId is null)
                    {
                        <td><span>@row.Envelope.Amount.ToString("F"),</span></td>
                    }
                    else
                    {
                        <td>
                            <partial name="/Views/Envelope/InlineAmountEditor.cshtml" model="row.Envelope" />
                            @* <input
                            name="amount"
                            value="@row.Envelope.Amount.ToString("F")"
                            hx-swap="outerHTML"
                            hx-patch="@Url.Action("Index", "Envelope", new { month = Model.Month.Date.ToString("yyyy-MM-dd"), categoryId = row.Envelope.CategoryId })"
                            hx-trigger="blur"/> *@
                        </td>
                    }
                    <td>@row.Outflow</td>
                    <td>@row.Balance</td>
                </tr>
            }
            </tbody>
            <tfoot>
            <tr>
                <th scope="row">Totals</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>