@model Tracker.Domain.Account

<tr hx-target="this" hx-swap="outerHTML">
    <td>@Model.Id</td>
    <td>@Model.Name</td>
    <td>@Model.CurrentBalance</td>
    <td>@Model.BalanceDate</td>
    <td>@Model.Type</td>
    <td>@Model.BudgetType</td>
    <td>
        <button hx-get="accounts/@Model.Id/edit">
            Edit
        </button>
    </td>
    <td>
        <button 
            hx-delete="accounts/@Model.Id"
            hx-confirm="Delete account?">
            Delete
        </button>
    </td>
</tr>
