@using Tracker.Domain
@model Tracker.Domain.Account

<dl style="display: grid; grid-template-columns: repeat(2, max-content);">
    <dt>ID</dt>
    <dd>@Model.Id</dd>

    <dt>Name</dt>
    <dd>@Model.Name</dd>

    <dt>Kind</dt>
    <dd>@Model.Kind.Name</dd>

    <dt>Budget Kind</dt>
    <dd>@Model.BudgetKind.Name</dd>

    <dt>Balance</dt>
    <dd>@Model.CurrentBalance.ToString("C")</dd>

    <dt>Balance Date</dt>
    <dd>@Model.BalanceDate</dd>
</dl>
<section class="tool-bar">
    <form asp-action="Edit" asp-route-id="@Model.Id" method="get">
        <button>Edit</button>
    </form>
    <form asp-action="Archive" asp-route-id="@Model.Id">
        <button>Archive</button>
    </form>
    <form asp-controller="FinancialTransactions" asp-action="Index" method="get">
        <!-- TODO: use query parameter to filter to account -->
        <button>View Transactions</button>
    </form>
</section>
