@using Tracker.Controllers
@model Tracker.Controllers.AccountViewModel
@{
    ViewData["Title"] = "Accounts";
}

@{
    switch (Model.FragmentId)
    {
        case Fragment.New: 
            <form method="post">
                <div>
                    @Html.AntiForgeryToken()
                </div>
                <div>
                    <label for="name">Name</label>
                    <input
                        id="name"
                        name="name"
                        value="@Model.Account.Name"
                        required
                        autofocus />
                </div>
                <div>
                    <label for="accountType">Account Type</label>
                    <select id="accountType" name="accountTypeId" required>
                        @foreach (var x in Model.AccountTypes)
                        {
                            <option value="@x.Id">@x.Name</option>
                        }
                    </select>
                </div>
                <div>
                    <label for="budgetType">Budget Type</label>
                    <select id="budgetType" name="budgetTypeId" required>
                        @foreach (var x in Model.BudgetTypes)
                        {
                            <option value="@x.Id">@x.Name</option>
                        }
                    </select>
                </div>
                <div>
                    <button type="submit">Create</button>
                </div>
                <div>
                    <a href="/accounts">Cancel</a>
                </div>
            </form>
        break;
            
        case Fragment.Edit:
            <form method="post">
                <div>@Html.AntiForgeryToken()</div>
                <div>
                    <label for="name">Name</label>
                    <input
                        id="name"
                        name="name"
                        value="@Model.Account.Name"
                        required
                        autofocus />
                </div>
                <div>
                    <label for="accountType">Account Type</label>
                    <select id="accountType" name="accountTypeId" required>
                        @foreach (var x in Model.AccountTypes)
                        {
                            if (Model.Account.Type == x)
                            {
                                <option value="@x.Id" selected>@x.Name</option>
                            }
                            else
                            {
                                <option value="@x.Id">@x.Name</option>
                            }
                        }
                    </select>
                </div>
                <div>
                    <label for="budgetType">Budget Type</label>
                    <select id="budgetType" name="budgetTypeId" required>
                        @foreach (var x in Model.BudgetTypes)
                        {
                            if (Model.Account.BudgetType == x)
                            {
                                <option value="@x.Id" selected>@x.Name</option>
                            }
                            else
                            {
                                <option value="@x.Id">@x.Name</option>
                            }
                        }
                    </select>
                </div>
                <div>
                    <button>Update</button>
                </div>
                <div>
                    <a href="/accounts">Cancel</a>
                </div>
            </form>
        break;
            
        case Fragment.List:
            <a href="/accounts/add">Add Account</a>
            <table>
                <caption>Accounts</caption>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Balance</th>
                        <th>Type</th>
                        <th>Budget Type</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var category in Model.Accounts)
                {
                    <tr>
                        <td>@category.Id</td>
                        <td>@category.Name</td>
                        <td>@category.CurrentBalance</td>
                        <td>@category.Type.Name</td>
                        <td>@category.BudgetType.Name</td>
                        <td>
                            <a href="accounts/@category.Id/edit">Edit</a>
                        </td>
                        <td>
                            <a href="/accounts/@category.Id/delete">Delete</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <a href="/accounts/add">Add Account</a>
            break;
            
        case Fragment.Details: 
            <div>@Model.Account.Id</div>
            <div>@Model.Account.Name</div>
            <div>@Model.Account.CurrentBalance</div>
            <div>@Model.Account.Type</div>
            <div>@Model.Account.BudgetType</div>
            <div>
                <a href="/accounts">Back to list</a>
            </div>
            <div>
                <a href="/accounts/@Model.Account.Id/edit">Edit</a>
            </div>
            <div>
                <a href="/accounts/@Model.Account.Id/delete">Delete</a>
            </div>
            break;
            
        case Fragment.Delete:
            <form method="post">
                <p>Are you sure you want to delete the account "@Model.Account.Name"?</p>
                <button>Delete</button>
                <a href="/accounts">Cancel</a>
            </form>
            break;
    
        default:
            throw new ArgumentOutOfRangeException();
    }
}